*{
    padding: 0px;
    margin: 0px;
    outline: 0px;
    border: none;
    text-align: left;
}
.fullcontainer{
    width: 100%;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box;
    background: yellow;
}
